#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* App.css */

.custom-modal .modal-dialog {
  max-width: 90%; /* Adjust as needed */
  margin: 1.75rem auto; /* Center the modal */
}

.custom-modal .modal-content {
  height: calc(100vh - 3.5rem); /* Full height minus the margin */
  overflow-y: auto; /* Scrollable content */
}

@media (min-width: 576px) {
  .custom-modal .modal-dialog {
    max-width: 70%; /* Adjust for small screens */
  }
}

@media (min-width: 768px) {
  .custom-modal .modal-dialog {
    max-width: 60%; /* Adjust for medium screens */
  }
}

@media (min-width: 992px) {
  .custom-modal .modal-dialog {
    max-width: 50%; /* Adjust for large screens */
  }
}

@media (min-width: 1200px) {
  .custom-modal .modal-dialog {
    max-width: 40%; /* Adjust for extra large screens */
  }
}
/*
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* [data-tooltip] {
  position: relative; /* Относительное позиционирование */
